@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

html{
scroll-behavior: smooth;
overflow-x: hidden;
}
body{
    background-color: #FAFAFA;
    font-family: "Playfair Display";
    margin: 0;
}

.nav{
    background: #C5EEFF;
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 2em;
    margin-top:-0.5em;
    margin-left:-1em;
    margin-right: -1em;
    
       
}
.name header{
 color: #2E2E2E;
 font-weight: 800;
 font-size: 18px;
 
 margin-left: 3%;
 margin-top: -2em;
 font-family: 'Metal Mania';
 
 span{
    color: #FAFAFA;
    background: #B9007A;
   padding: 1px 3px 1px 3px;
   border-radius: 30%;
   
 }
}





.back-container{
    background-color: #484848;
    display: flex;
    padding-top: 1em;
    padding-bottom: 1em;
}
.back{
   align-items: center;
   justify-content: center;
   opacity: 80%;
   margin: auto;
   height: 300px;  //(if width is fixed display flex and align item wont work)  
}


.intro{
  font-size: 40px;
  font-weight: 800;
  line-height: 50px;
  margin-left: 3%;
  

}

.sec{
    line-height: 30px;
    font-size: 20px;
    color: #2E2E2E;
    letter-spacing: .5px;
    font-weight: 200;
    
}
h1,h2,h3,h4,h5{
    color:#48C6FD ;
    font-size: 30px;
    font-weight: bold;
    margin-left: 3%;
   
    
}
.sec p{
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 4em;

  
    
}
.sec header{
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3em;
}

.info{
    span{
        color: #B9007A;
    }
}

.conf-container{
    background-color: #484848;
    display: flex;
    padding-top: 2em;
    padding-bottom: 2em;
    
}
.conf{
   align-items: center;
   justify-content: center;
   opacity: 60%;
   margin: auto;
   height: 350px;
   width: 350px;  //(if width is fixed display flex and align item wont work)  
}



.frnd-container{
    background-color: #484848;
    display: flex;
    padding-top: 1em;
    padding-bottom: 1em;
    

    
}
.frnd{
   align-items: center;
   justify-content: center;
   opacity: 60%;
   margin: auto;
   width: 440px;
   height: 350px;  //(if width is fixed display flex and align item wont work)  
}



footer{
    font-size: 30px;
    color:#B9007A ;
    font-weight: bold;
    padding-top: 1em;
    padding-bottom: 2em;
    text-align: center;
}




@media only screen and (min-width:768px){

   .nav{
    padding-bottom: 3.5em;
   } 
   
.name header{
    padding-top: 1.8em;
    position: absolute;
    margin-top: -5em;
    font-size: 20px;
    margin-left: 6%;
}    





.right{
    position:relative;
    float: right;
 span {
    position: absolute;
    background:#484848;
    width: .3em;
    height: 3.9em;
    margin-top: -.5em;
    display: block;
    margin-left: -3.5em;
    
 }
    
 
 span:nth-child(2){
    margin-left: -5em;
}



}

.intro{
    margin-left: 6%;
    font-size: 45px;
    line-height: 60px;
    color: white;
    opacity: 100%;
    position: relative;
    z-index: 2;
    

    
}

.back-container{
    margin-top: -11.5em;
   
    
   
    
}
.back{
   opacity: 40%;
   
}

.sec p{
    margin-left: 6%;
    margin-right: 6%;
}
.sec header{
    margin-left: 6%;
    margin-right: 6%;
}
h1,h2,h3,h4,h5{
    margin-left: 6%;
    margin-right: 6%;
}

}



@media only screen and (min-width:1040px){
    
    .name header{
        font-size: 22px;
        margin-top: -4.7em;
    }
    
    .right{
        span{
          margin-left: -7em;
        }
        span:nth-child(2){
         margin-left: -8.5em;
        }
    }
    
    .intro{
        margin-left: 8%;
        
        font-size: 45px;
        line-height: 60px;
    }
    
    .sec p{
        margin-left: 8%;
        margin-right: 8%;
    }
    .sec header{
        margin-left: 8%;
        margin-right: 8%;
    }
    h1,h2,h3,h4,h5{
        margin-left: 8%;
        margin-right: 8%;
    }   
}
